
/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  nav li {
    margin-top: 1px;
  }
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
  .mobile_nav {
    display: inline-block;
  }
  .desktop_nav {
    display: none;
  }
  #logo_hero {
  font-size: 5em;
  width: 70%;
}

  .brands_list {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.brands_list tr td img {
  max-width: 100%;
}
.brands_list tr td {
  width: 33%;
  padding: 20px;
}
.social_list {
  width: 100%;
}
.social_list tr td img {
  max-width: 100%;
}
.social_list tr td {
  padding: 20px;
}
.sectionimage {
  width: 90%;
  margin-bottom: 40px;
}
.sectionheader {
  margin-bottom: 40px;
  font-size: 3.8em;
}

}

@media screen and (max-height: 600px) {
  #menu { 
    top: 70px;
    padding-top: 0px;
  }
  .sectionheader {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .talebox {
    margin-top: 0px;
  }
  .sectionimage {
    margin-bottom: 40px;
  }
  .subpara {
    /*margin-top: 20px;*/
  }
  .talebox {
    width: 60%;
  }
  .tb_subtitle {
    margin-top: 0px;
  }
  .tb_title {
    font-size: 5em;
  }
  input {
    padding: 3px;
  }
  #menu li {
    font-size: 1.8em;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .open-menu ~ nav {
    padding: 20px 0;
  }
  .mobile_nav {
    display: inline-block;
  }
  .desktop_nav {
    display: none;
  }
  nav li a {
    padding: 3px;
  }
  .sectionheader {
  font-size: 3.6em;
  }


}